// Site: http://creatingyourmark.com
// Author: Mark Southard

@import 'dependencies/variables';
@import 'dependencies/reset';

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: $background;
	color: $primary-color;
	font-family: $font;
	font-size: 1.8em;
	font-weight: 300;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

strong {
	font-weight: 600;
}

.container {
	margin: 0 auto;
	max-width: 400px;
	padding-top: 6%;
	width: 94%;
}

.content { clear: both; }

header { overflow: hidden; }

.site-description { color: $secondary-color; }

h1 {
	font-size: 0.875em;
	font-weight: 600;
	margin-bottom: .5em;
	margin-top: .5em;
}

h2 {
	color: $secondary-color;
	font-size: .75em;
	font-weight: 600;
	margin: 5em 0 1em;
	text-transform: uppercase;
}

ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 20px;
}

li { margin-bottom: 0.875em; }

a {
	border-bottom: 1px solid $border;
	color: $tertiary-color;
	text-decoration: none;
	transition: color .1s ease-in, border .2s ease-in;
}

a:hover {
	border-color: $secondary-color;
}

span {
	color: $secondary-color;
	display: none;
	margin-left: 5px;
	margin-right: 5px;
}
img { border-radius: 100%; }
span.description {
	display: block;
	margin: 5px 0 0 0;
}

footer {
	color: $secondary-color;
	font-size: 0.625em;
	margin-bottom: 2em;
	margin-top: 8em;
	text-transform: uppercase;
}

footer span { display: inline-block; }

@media screen and (min-width: 50em) {
	body { margin: 10px;}

	.container {
		margin: 0 0 0 10%;
		width: 75%;
	}

	.content,
	footer { margin-left: 140px; }

	ol { margin-left: 0; }

	span { display: inline-block; }
}

@media screen and (min-width: 60em) {
	.container {
		margin: 0 0 0 15%;
		width: 60%;
	}
}
